<div class="container mt-5">

    <div class="row mb-3">
        <h1>
            Usted buscó: {{terminoBuscado}}</h1>

    </div>
    <div class="row" *ngIf="instrumentosEncontrados.length > 0; else emptySearch">
        <div class="card mr-4 mb-4" style="width: 20rem;" *ngFor="let instrumento of instrumentosEncontrados; let i = index">
            <img class="card-img-top" src="assets/images/{{instrumento.imagen}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title tituloTarjeta">{{instrumento.instrumento}}</h5>
                <p class="card-text precio">$ {{instrumento.precio}}</p>
                <div *ngIf="instrumento.costoEnvio == 'G'; else elseBlock" class="envioGratis">
                    <img src="assets/images/camion.png" alt="camion"> Envío gratis a todo el país
                </div>
                <ng-template #elseBlock>
                    <span class="costoEnvio">Costo de envío interior de Argentina: {{instrumento.costoEnvio}}</span>
                    <br>
                </ng-template>
                <br>
                <button (click)="verDetalle(instrumento.id)" class="btn btn-primary btn-block">Detalle</button>
            </div>
        </div>
    </div>

    <ng-template #emptySearch>
        <span class="text-center">No hay resultados para su búsqueda</span>
    </ng-template>
</div>
